@font-face {
    font-family: 'Roboto Regular';
    src: local('Roboto Regular'), url(./assets/fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Roboto Light';
    src: local('Roboto Light'), url(./assets/fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: 'Roboto Bold';
    src: local('Roboto Bold'), url(./assets/fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: 'Jaldi Bold';
    src: local('Jaldi Bold'), url(./assets/fonts/Jaldi-Bold.ttf);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

body {
    margin: 0;
}