.dashboard-top-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 115px;
}

.dashboard-top-bar-logo {
    height: 60px;
    margin-left: 33px
}

.dashboard-top-bar-typeface {
    height: 15px;
    margin-left: 15px
}

.dashboard-top-bar-text {
    margin-left: 30px;

    font-family: 'Roboto Light';
    font-size: 28px;
}